# ============================
# Archivos y carpetas generados por Unity
# ============================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# ============================
# Archivos generados por IDEs y otras herramientas
# ============================
# Archivos de Visual Studio, MonoDevelop, Rider, etc.
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# ============================
# Archivos de sistema operativo
# ============================
.DS_Store
._*
.Spotlight-V100
.Trashes

# ============================
# Otros archivos específicos de Unity
# ============================
/[Uu]ser[Ss]ettings/
